*{
    font-family: Helvetica;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.banner{
    background-color: #344a5f;
    font-size: 10px;
    color: white;
    line-height: 1.5;
}