html,
body {
    margin: 0;
    color: #333;
}

.center-content {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
}

.vertical-layout,
.vertical-layout-center {
    display: inline-block;
    vertical-align: top;
}

.vertical-layout > div,
.vertical-layout-center {
    display: inline-block;
    vertical-align: top;
}

.vertical-layout-center {
    display: inline-block;
    vertical-align: middle;
}

.vertical-layout-center > span,
.vertical-layout-center > img,
.vertical-layout-center > a {
    vertical-align: middle;
}


@media screen and (max-width: 995px) {
    .vertical-layout.clusterize,
    .vertical-layout.clusterize > div{
        display: block;
        width: 100% !important;
    }
}