body {
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    text-align: center;
}

.banner-section {
    padding: 7px 0px;
    background-color: rgb(52, 74, 95);
    font-size: 10px;
    color: white;
}

.header-section {
    padding: 15px 0px;
    font-size: 18px;
}

.header-section.shadowed{
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
}

.band-section{
    padding: 20px 0px;
    background: rgb(255, 159, 69);
    color: white;
    font-weight: bold;
}

.image-section{
    background: #f5f5f5;
}

.article-section {
    font-size: 18px;
    line-height: 1.5;
}

.footer-section{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #333333;
    text-align: center;
}

.footer-section .footer{
    padding: 10px 0 10px;
    font-size: 14px;
    margin: 0 15px;
    color: #919b9a;
}

.footer-section .footer a{
    color: inherit;
}

.message {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff0c7;
}

.message.center {
    padding: 10px 40px;
    text-align: center;
}

.message.red-border {
    border: 2px solid #f94c49;
}

.side-block {
    padding: 10px;
    border: 1px solid rgb(241, 241, 241);
    text-align: center;
}

.side-block .header {
    padding: 15px;
    background: rgb(243, 243, 243);
}

.side-block .body {
    padding: 30px 20px;
}

ul{
    padding-left: 20px;
}

h1 {
    font-size: 42px;
    margin-top: 0px;
    line-height: 1.2;
}

h2 {
    line-height: 1.2;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-top: 0px;
    /* margin-bottom: 0px; */
    margin-bottom: 20px;
    line-height: 1.2;
}

blockquote {
    margin: 0px 0px 18px 0px;
    padding: 35px 40px 35px 70px;
    background-color: #fafafa;
    color: #3d3d4e;
    border-left: 5px solid #00bdb4;
}

button.red{
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    padding: 15px 40px;
    background-color: #F94C49;
}

button:hover{
    opacity: 0.8;
}

.progress-bar-wrapper{
    width: 296px;
    height: 12px;
    background: #eeecec;
    border-radius: 15px;
}

.progress-bar{
    background: linear-gradient(90deg, #f90, #c00000 121.23%);
    width: 75%;
    height: 100%;
    border-radius: 15px;
}

.rating-text {
    color: #405cb3;
    font-size: 14px;
}

.link-text {
    color: #405cb3;
    line-height: 1.5;
}

.subtitle-text {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
}
