html,
body {
    margin: 0;
    color: #333;
}

.center-content {
    margin: auto;
    width: 1000px;
    max-width: 100%;
}

.vertical-layout,
.vertical-layout-center {
    display: inline-block;
    vertical-align: top;
}

.vertical-layout > div,
.vertical-layout-center {
    display: inline-block;
    vertical-align: top;
}

.vertical-layout-center {
    display: inline-block;
    vertical-align: middle;
}

.vertical-layout-center > span,
.vertical-layout-center > img,
.vertical-layout-center > a {
    vertical-align: middle;
}
