body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner-section {
    padding: 7px 0px;
    background-color: rgb(52, 74, 95);
    font-size: 10px;
    color: white;
}

.header-section {
    padding: 15px 0px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
    font-size: 18px;
}

.message {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff0c7;
}

.side-block {
    padding: 10px;
    border: 1px solid rgb(241, 241, 241);
    text-align: center;
}

.side-block .header {
    padding: 15px;
    background: rgb(243, 243, 243);
}

.side-block .body {
    padding: 30px 20px;
}

h1 {
    font-size: 42px;
    margin-top: 0px;
}

h3 {
    font-size: 20px;
    margin-top: 0px;
    /* margin-bottom: 0px; */
    margin-bottom: 20px;
}

.rating-text {
    color: #405cb3;
    font-size: 14px;
}

.link-text {
    color: #405cb3;
    line-height: 1.5;
}
