html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-style: normal;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    background: #fff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    overflow-x: hidden;
}

@media(max-width: 480px){
    body{
        font-size: 15px;
    }
}

div, h1, h2, h3, h4, p, ul, li, table, tr, td, a, span, u, b, i {
    max-height: 999999px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

input, select, textarea, button {
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

table, tr, td, th {
    font-size: 1em;
}

a {
    color: #09c;
    text-decoration: underline;
}

a {
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

a:hover {
    color: #09c;
    text-decoration: none;
}

a img {
    border: none;
}

p > img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* content {{{ */
body, input, select, textarea, button {
    font-family: 'Open Sans', sans-serif;
}

input, select, textarea, button {
    font-size: 1em;
}

table, tr, td, th {
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

a {
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a img {
    border: none;
}

p > img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}

h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child, h4:first-child, .h4:first-child {
    margin-top: 0;
}

h1, .h1 {
    color: #2f2f2f;
    font-family: Open Sans, sans-serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: none;
    text-align: left;
}

@media (max-width: 768px){
    h1, .h1{
        font-size: 34px;
    }
}

@media (max-width: 480px) {
    h1, .h1 {
        font-size: 28px;
    }
}

h2, .h2 {
    font-size: 30px;
    line-height: 1.3;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    font-weight: 700;
    color: #2E2E2E;
    text-transform: none;
    text-align: center;
}

@media (max-width: 768px){
    h2, .h2{
        font-size: 34px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h2, .h2 {
        font-size: 28px;
    }
}

.h3, h3{
    font-size: 20px;
    line-height: 1.2;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #2E2E2E;
    text-transform: none;
    text-align: center;
}


p, div.p {
    margin: 1em 0 1em 0;
    padding: 0;
}

hr {
    border: 0;
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    margin: 1em 0 1em 0;
    clear: both;
}

:link, :visited, :hover, :active, :focus {
    outline: none !important;
    outline: none;
}

::-moz-selection {
    background: #09c;
    color: #fff;
}

::selection {
    background: #09c;
    color: #fff;
}

::-moz-selection {
    background: #09c;
    color: #fff;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}

.button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

a.button, button.button {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #306FDB;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    line-height: 1.2;
    text-transform: none;
    padding: 17px 20px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

a.button:hover, button.button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    a.button, button.button {
        line-height: 1.2;
        padding: 14px;
    }

    a.button:hover, button.button:hover {
        background-color: blue;
        -webkit-box-shadow: 0px 3px 0 #4b6232;
        box-shadow: 0px 3px 0 #4b6232;
    }
}

@media (max-width: 480px) {
    a.button, button.button {
        font-size: 20px;
    }
}

.text-link, .page__link {
    color: #405cb3;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background: transparent;
}

.text-link {

}

.text-link:hover {
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: #405cb3;
}



input, select, textarea, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

/* }}} content */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media (max-width: 480px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.page__row {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
}


.page__col {
    flex: 0 0 auto;
    padding: 0 10px;
}

.page__col--main {
    width: 70%;
}

.page__col--side {
    width: 30%;
}

@media (max-width: 994px){
    .page__row{
        margin-left: 0;
        margin-right: 0;
    }

    .page__col--side{
     display: none;
    }

    .page__col--main{
        width: 100%;
        padding: 0;
    }
}

.page__col ul {
    padding-left: 20px;
}

.page__img-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.page__img-wrapper a {
    display: block;
    margin-bottom: 20px;
}

.header__promo {
    background-color: #344a5f;
    color: #ffffffab;
    font-size: 10px;
    line-height: 1.2;
    padding: 7px 0;
}

.header__promo b {
    color: white;
}

.header__main {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .059);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.07);
}

.header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    flex: 0 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header__col img {
    flex: 0 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: auto;
}

.header__logo {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header__logo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.header__logo span {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .flag{
        width: 20px;
    }

    .header__logo img{
        width: 110px;
    }

    .header__logo span {
        font-size: 17px;
        font-weight: 600;
        display: block;
        margin-left: 6px;
        margin-top: 1px;
    }

    .header__col{
        max-width: none;
    }

    .header__trend{
        font-size: 14px;
    }
}

.attention-bar {
    background-color: rgba(255, 227, 149, .53);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.attention {
    text-align: center;
    border: 2px solid #F94C49;
    background-color: #fff2cc;
    padding: 10px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}



blockquote {
    background: url(../img/quote-top-left.svg) no-repeat top 25px left 25px, url(../img/quote-bottom-right.svg) no-repeat bottom 25px right 25px, #fafafa;
    color: #3d3d4e;
    margin-bottom: 18px;
    padding: 35px 40px 35px 70px;
    margin-left: 0;
    margin-right: 0;
    border-left: 5px solid #00bdb4;
}

@media (max-width: 480px) {
    blockquote{
        padding: 30px 40px 30px 55px;
        font-size: 14px;
    }

    .attention{
        padding: 10px 20px;
    }
}

.subtitle {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
}

a.button, button.button {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25em;
    margin-top: 20px;
    outline: none;
    padding: 15px 40px;
    background-color: #F94C49;
}

.side-block{
    border: 1px solid #f1f1f1;
    padding: 10px;
}

.side-block .text-link{
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.side-block .button{
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: #0bac4b;
}

.side-block h3{
    text-align: center;
}

.side__head{
    background-color: #f0f0f0cc;
    padding: 15px;
}

.side__rank{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side__rank img{
    flex: 0 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.side__rank span{
    flex: 0 1 auto;
    color: #405cb3;
    font-size: 14px;
    line-height: 1.2;
}

.side__body{
    padding: 30px 20px;
}


.side__body img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.side__footer{

}
.footer-block {
    background: #333333;
    padding: 10px 0;
    text-align: center;
}

.footer-block .copyright {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 10px;
    font-size: 14px;
    margin: 0 15px;
    color: #919b9a;
}

.footer-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-block a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 10px;
    font-size: 14px;
    margin: 0 15px;
    color: #919b9a;
}